@import "../generic/variables";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Rubrik", sans-serif;
}

strong {
  font-weight: 500;
}

h1 {
  font-size: 9rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

h3 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  font-size: 2.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1.75rem;
  font-weight: 500;
}

p {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
}

@media (max-width: $mobile) {
  h2,
  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}
