@font-face {
  font-family: "Rubrik";
  src: url("./assets/fonts/static/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubrik";
  src: url("./assets/fonts/static/Rubik-Medium.ttf");
  font-weight: 500;
}

@import "./assets/scss/generic/variables";
@import "./assets/scss/generic/typography";
@import "./assets/scss/generic/helper";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubrik", sans-serif;
  font-weight: 400;
}

body,
#root,
.App {
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--font-color);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $tablet) {
    justify-content: flex-start;
  }
}

.container {
  display: flex;
  max-width: 1157px;
  width: 100%;
  justify-content: space-between;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding: 2rem;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem;
  }

  .col-6 {
    @media (min-width: $desktop) {
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
    }

    &.card-col {
      display: flex;
      flex-flow: column;
      row-gap: 24px;

      @media (max-width: $mobile) {
        row-gap: 12px;
      }
    }
  }

  &.main {
    padding-top: 5rem;

    @media (max-width: $tablet) {
      padding-top: 2rem;
    }

    @media (max-width: $mobile) {
      padding-top: 2rem;
    }
  }

  &.start,
  &.quiz,
  &.complete {
    @media (max-width: $tablet) {
      padding: unset;
    }
  }
}
